<!-- Footer -->
<footer class="pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row py-4">

      <!-- Grid column -->
      <div class="col-md-8 mt-md-0 mt-3 pr-md-5">

        <!-- Content -->
        <h5 class="text-uppercase">Discs in the Bag</h5>
        <p>This site was created to showcase professional disc golf players and the discs they throw. Through seeing all of the information in a simple structure, it can inform how we can build out our own bags to improve our games or experiment with new playing styles.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="footer-list pl-0">
          <li>
            <a href="/pros">Pros</a>
          </li>
          <li>
            <a href="/discs">Discs</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center">
	  Copyright &copy; 2024 Jeremy Blitz-Jones. All rights reserved.
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/scripts/mixitup.min.js"></script>
<script src="/scripts/app.js"></script>

</body>
</html>