<%- include("partials/header") %>

<div class="container">
	
	<header class="jumbotron text-center p-1 align-middle">
		Welcome to Discs in the Bag! See below to learn more about this site.
	</header>
	
</div>
	
	
<%- include("partials/footer") %>
