<%- include("partials/header") %>

<div class="container-fluid about-page px-5">
	
	<h1>About this site</h1>
	<p>
		This site was designed to give easy access to information about the discs pros are using. I've followed "In the bag" videos for many pros for years and I was inspired to see all the info in one place and analyze disc popularity, among other things. Hope you find the site useful. Let me know if you have any suggestions for how to improve it. 
	</p>
	<p>
		Keep discing!
	</p>	
	<p>
		Jeremy
		<br>
		<a href="mailto:discsinthebag@gmail.com" target="_blank">discsinthebag@gmail.com</a>
	</p>
	
	<h1 class="mt-5">Disc Popularity Rank Calculation</h1>
	<p>
		Popularity ranks are calculated using two criteria:
		<ol>
			<li>the number of pros bagging the disc</li>
			<li>the rankings of those pros</li>
	</ol> 
		This means that a disc that is used by one higher ranked pro might have a similar ranking as a disc that is used by two pros who have a lower ranking. 
	</p>
	<p>
		The rank is calculated by assigning points to each disc based on pro rankings. See below for how points are assigned. Do you have another idea for how to do it? Let me know.
	</p>
	<table class="table table-sm" id="about-table">
	  <thead>
		<tr>
		  <th scope="col">Pro Rank</th>
		  <th scope="col">Points</th>
		</tr>
	  </thead>
	  <tbody>
		<tr>
		  <td>1</td>
		  <td>20</td>
		</tr>		
		<tr>
		  <td>2</td>
		  <td>15</td>
		</tr>		
		<tr>
		  <td>3</td>
		  <td>12</td>
		</tr>
		<tr>
		  <td>4</td>
		  <td>10</td>
		</tr>
		<tr>
		  <td>5</td>
		  <td>8</td>
		</tr>
		<tr>
		  <td>6</td>
		  <td>6</td>
		</tr>
		<tr>
		  <td>7</td>
		  <td>5</td>
		</tr>
		<tr>
		  <td>8</td>
		  <td>4</td>
		</tr>
		<tr>
		  <td>9</td>
		  <td>3</td>
		</tr>
		<tr>
		  <td>10</td>
		  <td>2</td>
		</tr>
		<tr>
		  <td>11+</td>
		  <td>1</td>
		</tr>
	  </tbody>
	</table>
	
	<h1 class="mt-5">Stability Filter</h1>
	<p>
		The stability filter uses each disc's stability rating, calculated by adding the turn and fade numbers for the disc. The stability ratings fall into three categories:
		<ul>
			<li>Overstable discs have positive stability ratings</li>
			<li>Stable discs have stability ratings of -1 to +1</li>
			<li>Understable discs have negative stability ratings</li>
		</ul> 
	</p>

	<!-- <h4 class="mt-5">Infinite Discs Affiliate</h4>
	<p>
		If you're interested in supporting the site, I've joined Infinite Disc's affiliate program so following a buy link to their website shares a portion of your purchase with me.
	</p> -->
	
	
	
</div>
	
	
<%- include("partials/footer") %>
