.profile-image {
	width: 250px;
	border-radius: 10px;
}

.profile-name {
	font-size: 3rem;
	margin-top: 2.5rem;
}

.wrapper {
	clear:both;
	padding-top: 50px;
}

/* .navbar {
	background-color: #90b4d4;
} */

.pro-card a {
	color: inherit;
	text-decoration: none;
}

.pro-card a:hover {
	color: inherit;
	text-decoration: none;
}